@import '../node_modules/tailwindcss/dist/base.css';
@import '../node_modules/tailwindcss/dist/components.css';
@import '../node_modules/tailwindcss/dist/utilities.css';

@font-face {
	font-family: AutumnMoon;
	src: url(./assets/fonts/autumn-moon/AutumnMoon.woff) format("woff"), url(./assets/fonts/autumn-moon/AutumnMoon.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}